.git
.github
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md

log/*
tmp/*
storage/*
coverage/
node_modules/

spec/
.rspec_status

.bundle/
vendor/bundle/

.DS_Store
.idea/
.vscode/
.cursor/
